body {
    background-color: #aad4cf;
    font-family: Arial;
}

h1 {
    color: azure;
}

.container{
    width: 500px;
    margin: 0 auto;
}
img{
    width: 200px;
    float: left;
}

body{
    max-width: 450px;
    margin:0 auto;
}