body {
    background-color: #aad4cf;
    font-family: Arial;
}

h1 {
    color: azure;
}

form div {
    margin-bottom: 20px;
}

.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid turquoise;
  }
  
  .div2 {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid wheat;
  }

  .container{
      width: 500px;
      margin: 0 auto;
  }
  img{
      width: 200px;
      float: left;
  }

  body{
      max-width: 450px;
      margin:0 auto;
  }