body {
    background-color: #aad4cf;
    font-family: Arial;
}

h1 {
    color: azure;
}

img{
    width: 200px;
    float: left;
}

body{
    max-width: 800px;
    margin:0 auto;
}

#header-background{
    width:100%;
    height:100px;
    background-image: url(../images/lone-starfish-wide.jpg);
}