body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 72px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: -1px;
}