/* ============= Styles ============= */

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 72px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

/* ============= Header ============= */
.navbar {
    background-color: #222;
}

.logo {
    background: #c78b07;
    padding-top: 18px;
    padding-bottom: 18px;
}

header nav ul li a {
    display: block;
    color: #c78b07;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.click a {
   background: #c78c06;
   color: #222;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


header form {
    background-color: #222;
    padding: 2px; margin: 0;
    display: flex;
}

header form input {
    height: 40px;
    padding: 0 5px; margin: 0;
    font-size: 18px; line-height: 2;
    border: 1px solid #222;
    flex-grow: 1;
}

header form button {
    background-color: #222;
    border: 2px solid #c78c06;
    color:  #c78c06;
    height: 43px; width: 43px;
}


/* ============= Footer ============= */

footer {
    padding-top: 16px;
}
